{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your registration</h1>

      <h2 class="govuk-heading-m">Building details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Storeys
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['storeys'] }} storeys
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_storeys">
              Change
              <span class="govuk-visually-hidden"> building storeys</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Height
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['height'] }} metres
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_height">
              Change
              <span class="govuk-visually-hidden"> building height</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Residential units
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['units'] }} residential units
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_units">
              Change
              <span class="govuk-visually-hidden"> residential units</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['building-name'] }}
            <br>{{ data['address-line-1'] }}
            <br>{{ data['address-line-2'] }}
            <br>{{ data['address-town'] }}
            <br>{{ data['address-county'] }}
            <br>{{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_address">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-range'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_building_date">
              Change
              <span class="govuk-visually-hidden"> building date</span>
            </a>
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Staircases
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['staircases'] }} staircases
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_staircases">
            Change
            <span class="govuk-visually-hidden"> staircases</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Design codes or standards
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['standards'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_standards">
            Change
            <span class="govuk-visually-hidden"> standards</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building plan file(s)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['file-upload-1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_building_plans">
            Change
            <span class="govuk-visually-hidden"> building plans</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building plans description
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['building-plans'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_building_plans">
            Change
            <span class="govuk-visually-hidden"> building plans</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Completion Certificate file
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['file-upload-2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_control_body">
            Change
            <span class="govuk-visually-hidden"> building control body</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Completion Certificate description
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['certificate-context'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_control_body">
            Change
            <span class="govuk-visually-hidden"> building control body</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Common areas or shared facilities list
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['common-areas'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_common_areas">
            Change
            <span class="govuk-visually-hidden"> common areas</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Common areas or shared facilities other
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['other-common-areas'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="question_common_areas">
            Change
            <span class="govuk-visually-hidden"> common areas</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fire prevention measures
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['fire-prevention'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="KBI_fire_prevention">
            Change
            <span class="govuk-visually-hidden"> prevention measures</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fire measures file(s)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['file-upload-fire'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="KBI_fire_prevention">
            Change
            <span class="govuk-visually-hidden"> confirmed meeasures</span>
          </a>
        </dd>
      </div>
    </dl>

      <h2 class="govuk-heading-m">Now send your registration</h2>

      <p>By submitting this registration you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
