{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before submitting your registration</h1>

      <h2 class="govuk-heading-m">Building details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Floors
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['storeys'] }} floors
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_storeys">
              Change
              <span class="govuk-visually-hidden"> building storeys</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Height
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['height'] }} metres
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_height">
              Change
              <span class="govuk-visually-hidden"> building height</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Residential units
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['units'] }} residential units
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_units">
              Change
              <span class="govuk-visually-hidden"> residential units</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['building-name'] }}
            <br>{{ data['address-line-1'] }}
            <br>{{ data['address-town'] }}
            <br>{{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_address">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Connected buildings
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['connected'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_connected">
              Change
              <span class="govuk-visually-hidden"> connected structurally</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address of connected building(s)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }}
            <br>{{ data['address-town'] }}
            <br>{{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_connected_address">
              Change
              <span class="govuk-visually-hidden"> connected address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            I am responsibile for
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['responsible'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_responsible">
              Change
              <span class="govuk-visually-hidden"> responsible for</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other accountable persons
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['more'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_more_aps">
              Change
              <span class="govuk-visually-hidden"> more aps</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accountable person details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ap-name'] }}
            <br>{{ data['phone'] }}
            <br>{{ data['email-address'] }}
            <br>{{ data['ap-address'] }}
            <br>{{ data['postcode'] }}
            <br>{{ data['building-part'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_ap_address">
              Change
              <span class="govuk-visually-hidden"> ap details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year of completion
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-range'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_building_date">
              Change
              <span class="govuk-visually-hidden"> building date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tenure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tenure'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="question_building_tenure">
              Change
              <span class="govuk-visually-hidden"> tenure</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary use
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['primary-use'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="questionprimary_use">
              Change
              <span class="govuk-visually-hidden"> primary use</span>
            </a>
          </dd>
        </div>
    </dl>

      <h2 class="govuk-heading-m">Now submit your registration</h2>

      <p>By submitting this registration you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>

      </form>

    </div>
  </div>
{% endblock %}
