{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Registration complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">Next steps</h2>
      <p>Your building is now registered. The registration details will be stored in the 'My registered buildings' section of your <a href="#">Building Safety Regulator portal</a>.</p>
      <p>It is important to note that Accountable Persons are required to update the information submitted where it changes. This includes where an HRB will no longer be in scope and should be removed from the register, which may be temporary or permanent.</p>
      <p>In due course the Building Registration team will invite you to apply for or renew your Building Assessment Certificate. To get prepared for this, find out what's required on our <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">Building Assessment Certification page.</a></p>
      <br>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
