{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Describe what fire prevention measures are in place and how they help control the building safety risks</h1>

      <form class="form" action="online_payment" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
                  hint: {
                    text: "You must also confirm that the measures were installed correctly, work as intended and have been properly maintained. You should refer to your building's design and specification, fire strategy, fire risk  assessment and other supporting information to help you complete this section."
                  },
                  classes: "govuk-label--l",
                  id: "fire-prevention",
                  name: "fire-prevention"
                }) }}

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-fire",
          name: "file-upload-fire",
          label: {
            text: "Upload any supporting evidence"
          }

        }) }}

        {{ govukRadios({
          idPrefix: "have-you-completed-this-section",
          name: "have-you-completed-this-section",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I’ve completed this section"
            },
            {
              value: "no",
              text: "No, I’ll come back to it later"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
