{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="KBI_fire_prevention" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "common-areas",
          name: "common-areas",
          fieldset: {
            legend: {
              text: "What common areas or shared facilities does your building have?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Lobby",
              text: "Lobby"
            },
            {
              value: "Community room",
              text: "Community room"
            },
            {
              value: "Gym",
              text: "Gym"
            },
            {
              value: "Car park",
              text: "Car park"
            },
            {
              value: "Utility room",
              text: "Utility room"
            },
            {
              value: "Garden",
              text: "Garden"
            },
            {
              value: "Swimming pool",
              text: "Swimming pool"
            },
            {
              value: "Playground",
              text: "Playground"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
