{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>


      <p>The Building Safety Act requires all high-rise buildings to be registered with the Building Safety Regulator by October 2023. These registered buildings will then appear in the public-facing high-rise building register.</p>

      <p>Use this service to register buildings that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are <i>either</i> 18 metres high <i>or</i> have 7 or more storeys</li>
        AND
        <li>contain 2 or more residential units</li>
      </ul>

      <p>If you have all the information to hand, this registration service will take around 2 hours. You can save, exit and return at any time.</p>

      <h2 class="govuk-heading-m">Information required</h2>

      <p>The Building Safety Act requires the accountable person for a high-rise building to gather certain types of information about the building. You'll need some of this information to register your building. For example, we'll ask about the building's primary use and tenure.</p>

      <p>If the building you're responsible for is older, or has changed ownership multiple times, some of the information you'll need may not be readily available. You’ll need to take reasonable steps to find the required information.</p>

      <p>When gathering information about your building, you may find problems. This gives you the chance to act before an incident occurs.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Once registered, the information about your building will display in your <a href="#">Building Safety Regulator portal</a>. Accountable persons are required to update the information submitted when it changes.</p>

      <p>You'll need to pay a £55 fee to complete this registration service.</p>

      <p>You can also <a href="#">register by post</a>.</p>

      <a href="task-list-empty" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
